<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>We are the Champions</title>
  </head>
  <body>
    <div class="container" style="margin:20px">
        <div class="row">
            <div class="col">
                <h2>
                    GovTech Annual Football Competition Tracking System
                </h2>
                <p>
                    Instructions:
                </p>
                <ol>
                    <li>
                        Enter team details and click "Add Teams"
                    </li>
                    <li>
                        Enter match details and click "Add Matches" 
                    </li>
                    <li>
                        If you wish to clear all data entered, click on the "Delete All Data" button.
                    </li>
                    <li>
                        To view team rankings, click <a href="/team_rankings">here</a>.
                    </li>
                </ol>
            </div>
        </div>
            
        <div class="row">
            <div class="col">
                <p>
                    Enter team details below.
                </p>
                <textarea rows = "5" cols = "60" id = "teams" placeholder="Enter team details here..."></textarea>
                <br>
                <button class = "btn btn-primary" onclick="addTeams()">Add Teams</button>
                <br><br>
                <p>Enter match details below.</p>
                <textarea rows = "5" cols = "60" id = "matches" placeholder="Enter match details here..."></textarea>
                <br>
                <button class = "btn btn-primary" type = "button" onclick="addMatches()">Add Matches</button>
            </div>  
        </div>
        
        <div class="row">
            <div class="col">
                <br>
                <span><b>If you wish to remove all the data, please click the button below.</b></span>
                <br>
                <button class = "btn btn-danger" type = "button" onclick="deleteData()">Delete All Data</button>
          
                <br><br>
            </div>
        </div>
    </div>
  </body>

  <script>
    config = {
        headers: {
            "Content-Type": "application/json"                    
       }
    }


    function addTeams() {
        let teams = document.getElementById("teams").value
        if (teams == '') {
            alert("Please enter team details!")
            return
        }
        teams = teams.split(/\r?\n/);
        let teamData = {
            "teams": teams
        }
        JSON.stringify(teamData);
        axios.post('/api/add-teams', teamData, config)
            .then(function(response) {
                alert("Teams have been successfully added!")
            })
            .catch(function(error) {
                alert("Error adding teams. Please ensure syntax is correct or that there are no duplicates!")
            })
    }

    function addMatches() {
        let matches = document.getElementById("matches").value
        if (matches == '') {
            alert("Please enter match details!")
            return
        }
        matches = matches.split(/\r?\n/);
        let matchData = {
            "matches": matches
        }
        JSON.stringify(matchData);
        axios.post('/api/add-matches', matchData, config)
            .then(function(response) {
                alert("Matches have been successfully added!")
            })
            .catch(function(error) {
                alert("Error adding matches. Please ensure syntax is correct or that there are no duplicates! Also, do note that entering the same pair in alternate positions(i.e. TeamA vs TeamB and TeamB vs TeamA) is not allowed as each pair can only battle once.")
            })
    }

    function deleteData() {
        axios.delete('/api/delete-competition-data')
        .then(function(response) {
            alert("Data has been cleared!")
        })
        .catch(function(error) {
            alert("Error clearing data.")
        })
    }

  </script>
</html>
